@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

* {
    font-family: "Inter", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    @apply mx-auto px-6 relative;
}

.row {
    @apply -mx-3 flex flex-wrap;
}

.col {
    @apply px-3 mb-6;
}

h1 {
    @apply text-4xl leading-tight pb-6;
}

.btn {
    @apply inline-flex items-center px-8 h-12 rounded-lg box-border;

    &.btn-primary {
        @apply bg-blue-500 text-white
    }

    &.btn-outline {
        @apply border border-blue-900 text-blue-900
    }
}



#dd-search {
    @apply text-blue-900 p-2 border border-blue-900 rounded-lg;
    padding-left: 35px;
    background: transparent;
    outline: none !important;
    border-radius: .875rem;
}

.lit-header {
    padding-bottom: 5vw;
}
